@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: black;
  font-size: 18px
  line-height: 2;
}

img {
  vertical-align: bottom;
}

.ul {
  margin: 0;
  padding: 0;
}

.logo {
  float: left;
  width: 125px;
  margin-top: 20px;
}

.global-nav {
  float: right;
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 26px;
  list-style: none;
  font-family: 'Pinyon Script', cursive;
}

.global-nav li a{
  color: black;
}

a {
  color: #35833aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 90px;
  margin: 0 auto;
}
/*P114参照*/
#wrap {
  clear: both;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
 color: #ffffff;
 padding: 20px 20px;
 font-family: 'Pinyon Script', cursive;
 display: block;
}

footer small {
  font-size: 22px;
}

.btn a {
  color: #009cd3;
  font-size: 120px;
  font-family: 'Dancing Script', cursive;
  position: center;
  display: block;
  text-align: center;
  line-height: 0px;
  margin-top: 200px;
  border-radius: 30px
  border: 3px solid #009cd3;
}

.btn a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

#index {
  background-image: url(../images/F013.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#index .content {
  margin-top: 150px;
}

#index footer {
  margin: 140px auto 140px;
  position: fixed;
  color: #ffffff;
  padding: 150px 20px;
  font-family: 'Pinyon Script', cursive;
}

#Introduction {
  background-image: url(../images/F052.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 200px;
  margin-top: 0 10px 30px;
  float: right;
  font-family: 'IM Fell Double Pica SC', serif;
}

a img:hover{
  opacity: 0.7;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  font-size: 15px;
}

.sidebar ul a {
  color: #333; 
}

#Introduction h1 {
  font-size: 25px;
  line-height: 1;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

#Introduction h2 { 
  padding-top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
  text-align: left;
}

#Introduction p {
 font-size: 20px;
 color:#6b4f35;
 font-family: 'IM Fell Double Pica SC', serif;
}

#Introduction footer {
  width: 960px;
  margin: 40px auto 0 auto;
  text-align: center;
}

#photograph {
  background-image: url(../images/F026.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#photograph h1 {
  font-size: 35px;
  line-height: 1;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

#photograph h2 { 
  padding-top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
  text-align: left;
}

#photograph p {
 font-size: 20px;
 color:#6b4f35;
 font-family: 'IM Fell Double Pica SC', serif;
}

#photograph footer {
  width: 960px;
  margin: 40px auto 0 auto;
  text-align: center;
}

#video {
  background-image: url(../images/F059.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
#video h1 {
  font-size: 35px;
  line-height: 1;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

#video h2 { 
  padding-top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
  text-align: left;
}

#video p { 
  padding-top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
  text-align: left;
}

#video footer {
  width: 960px;
  margin: 40px auto 0 auto;
  text-align: center;
}

#cuisine {
  background-image: url(../images/k03.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#cuisine h1 { 
  font-size: 35px;
  line-height: 1;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

#cuisine h2 { 
  padding-top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
  text-align: left;
}

#cuisine p { 
  text-align: center;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.cuisine-list {
 text-align: center;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

#cuisine footer {
  width: 960px;
  margin: 40px auto 0 auto;
  text-align: center;
}


#Brideandgroom {
  background-image: url(../images/F059.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#wrap {
  clear: both;
  background-color: #fff;
  margin-top: 150px;
}
.main-ceter {
  width: 940px;
  margin: 0 auto;
}

#Brideandgroom h1 {
  font-size: 35px;
  line-height: 2;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

#Brideandgroom h2 {
  padding-top: 20px;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
  text-align: left;
}

#Brideandgroom p { 
  text-align: left;
  font-size: 18px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}
.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

h3 {
    overflow: hidden;
    text-align: center;
}
 
h3 span {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}
 
h3 span:before,
h3 span:after {
    border-top: 0.5px solid;
    content: "";
    position: absolute;
    top: 50%;
    width: 99em;
}
 
h3 span:before {
    right: 100%;
}
 
h3 span:after {
    left: 100%;
}

h4 {
  font-size: 20px;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  text-align: right;
}

#Brideandgroom .profile-txt {
  width: 540px;
  float: right;
}

#Brideandgroom .profile-txt2 {
  width: 540px;
  float: left;
}

#Brideandgroom .profile-txt span {
  font-weight: bold;
}

#Brideandgroom .profile-image {
  float:left;
}
#Brideandgroom .profile-image2 {
  float:right;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

section {
  margin-bottom: 25px;
}

#Brideandgroom footer {
  width: 960px;
  margin: 40px auto 0 auto;
  text-align: center;
}

#wrap {
  clear: both;
  background-color: #fff;
  margin-top: 150px;
}
.main-ceter {
  width: 950px;
  margin: 0 auto;
}

h1 {
  font-family:'Sawarabi Mincho', sans-serif;
  font-size: 36px;
  border-bottom: 1px solid #ccc;
}

h2 {
  font-family:'Sawarabi Mincho', sans-serif;
  font-size: 24px;
}
.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

section {
  margin-bottom: 35px;
}

#access {
  background-image: url(../images/F047.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}
#access h1 { 
  font-size: 33px;
  line-height: 2;
  color:#6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}

#access p {
  text-align: left;
  font-size: 20px;
  line-height: 1;
  color: #6b4f35;
  font-family: 'IM Fell Double Pica SC', serif;
  margin-top: 20px;
}
#access footer {
  width: 960px;
  margin: 40px auto 0 auto;
  text-align: center;
  color: black;
}
